@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --wego-green: #44b50c;
  --wego-dark-green: #298a08;
  --wego-orange: #ff9800;
  --wego-blue: #0051c3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-wego-green: var(--wego-green);
  --color-wego-dark-green: var(--wego-dark-green);
  --color-wego-orange: var(--wego-orange);
  --color-wego-blue: var(--wego-blue);
  --animate-marquee: marquee 40s linear infinite;
  --animate-marquee-reverse: marquee-reverse 40s linear infinite;
  --animate-float: float 6s ease-in-out infinite;
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(calc(-50% - 10px));
    }
  }

  @keyframes marquee-reverse {
    0% {
      transform: translateX(calc(-50% - 10px));
    }
    100% {
      transform: translateX(0%);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
}

* {
  box-sizing: border-box;
}
